[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
click = "*"
flask-rebar = "*"
marshmallow = "*"
pytest = "*"
pytest-flask = "*"
pytest-mock = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
rdflib = "*"
rdflib-sqlalchemy = "*"
requests = "*"
Flask = "*"
SPARQLWrapper = "*"
SQLAlchemy = "*"
gunicorn = "*"

[requires]
python_version = "*"
