[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
alembic = "==1.0.9"
atomicwrites = "==1.3.0"
attrs = "==19.1.0"
backcall = "==0.1.0"
bleach = "==3.1.1"
certifi = "==2019.3.9"
chardet = "==3.0.4"
click = "==7.0"
decorator = "==4.4.0"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
flask-rebar = "==1.5.1"
idna = "==2.8"
importlib-metadata = "==0.17"
ipykernel = "==5.1.0"
ipython = "==7.5.0"
ipywidgets = "==7.4.2"
isodate = "==0.6.0"
itsdangerous = "==1.1.0"
jedi = "==0.13.3"
jsonschema = "==3.0.1"
jupyter = "==1.0.0"
jupyter-client = "==5.2.4"
jupyter-core = "==4.4.0"
keepalive = "==0.5"
marshmallow = "==2.19.2"
mistune = "==0.8.4"
more-itertools = "==7.0.0"
nbconvert = "==5.5.0"
nbformat = "==4.4.0"
notebook = "==5.7.8"
numpy = "==1.16.3"
pandas = "==0.24.2"
pandocfilters = "==1.4.2"
parso = "==0.4.0"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pluggy = "==0.12.0"
ptyprocess = "==0.6.0"
py = "==1.8.0"
pyparsing = "==2.4.0"
pyrsistent = "==0.15.1"
pytest = "==4.6.2"
pytest-flask = "==0.15.0"
pytest-mock = "==1.10.4"
python-dateutil = "==2.8.0"
python-editor = "==1.0.4"
pytz = "==2019.1"
pyzmq = "==18.0.1"
qtconsole = "==4.4.3"
rdfextras = "==0.4"
rdflib = "==4.2.2"
rdflib-sqlalchemy = "==0.3.8"
rdflib-sqlite = "==0.1"
requests = "==2.21.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
terminado = "==0.8.2"
testpath = "==0.4.2"
tornado = "==6.0.2"
traitlets = "==4.3.2"
urllib3 = "==1.24.2"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.4.2"
zipp = "==0.5.1"
Flask = "==1.0.2"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
jupyter_console = "==6.0.0"
Mako = "==1.0.9"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.6.0"
prompt_toolkit = "==2.0.9"
Pygments = "==2.7.4"
Send2Trash = "==1.5.0"
SPARQLWrapper = "==1.8.4"
SQLAlchemy = "==1.3.3"
Werkzeug = "==0.15.2"
gunicorn = "*"

[requires]
python_version = "3.7"
